body {
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f0f2f5;
    
}

h2 {
    text-align: center;
    font-size: 1.8em;
    margin-top: -20px;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
h4 {
    text-align: center;
    font-size: 1.5em;
    margin-top: -20px;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.title-separator {
    border-top: 1px solid #000;
    margin-top: -1%;
    margin-bottom: 0px;
}

header {
    background: #f0f2f5;
    color: #000000;
    padding: 30px 20px;
    text-align: center;
    margin-bottom: -40px
}

header h1 {
    margin: 1;
    font-size: 2.5em !important;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

header p {
    margin-top: -20px;
    color: #ddd;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

nav {
    background: #f0f2f5;
    color: #353030;
    padding: 10px 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    padding: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    color: #383232;
    display: block;
}

nav ul li a:hover,
nav ul li a:focus {
    background-color: #dddddd;
}
html {
    height: 100%; /* Make sure html and body are at least the height of the viewport */
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* viewport height */
    margin: 0; /* Remove default margin */
}

.nav-logo,
.nav-logo1 {
    padding: 0;
    margin: 0;
}

.nav-logo img,
.nav-logo1 img {
    height: auto;
}

.nav-logo img {
    width: 200px;
}

.nav-logo1 img {
    width: 110px;
}

/* Flexbox container for logos */
.nav-container {
    display: flex;
    align-items: center;
    gap: -1px; /* Adjust the gap as needed */
}

/* This is to ensure the navigation links are on the right */
.nav-links {
    display: flex;
    gap: 0px; /* Adjust this value as needed */
    font-size: 1.1em;
    /* font-weight: bold; */
}

nav ul li {
    margin: -1 1px; /* Adjust the left and right margin as needed */
    padding: 0px 0px;
}

section {
    padding: 20px;
    margin-bottom: 20px;
}

footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 100px;
    position: relative;
    bottom: 0;
    width: 100%;
}

img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 0;
}


a.button {
    background-color: #5b7db1;
    padding: 10px 15px;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

a.button:hover {
    background-color: #333;
}

@media (min-width: 768px) {
    header h1 {
        font-size: 3em;
    }

    nav ul li a {
        padding: 20px 30px;
    }

    section {
        padding: 40px;
    }
}

.paper-link-container {
    text-align: center;
    margin: 30px 0;
}

.paper-link-button {
    background-color: #5b7db1;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.paper-link-button:hover {
    background-color: #333;
}

.container {
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f2f5;
}

header, nav, section, footer {
    padding: 20px;
    box-sizing: border-box;
}

.content-section {
    background-color: #f4f4f4;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
}

.contact-section {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}

.contact-section .names {
    font-size: 1.1em;
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.contact-section .institution {
    font-size: 1.1em;
    margin: 0;
    padding: 0;
}

.contact-section .email {
    font-size: 1em;
    margin: 0;
    padding: 0;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    flex: 1;
    max-width: calc(50% - 10px);
    background-color: #5b7db1;
    color: white;
    text-align: center;
    margin: 10px;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-content {
    padding: 20px;
}

.card h2 {
    font-size: 1.5em;
    margin: 0;
    padding: 20px 0;
    text-align: center;
}

.card:hover {
    background-color: #77a4e7;
}

@media (max-width: 600px) {
    .card {
        max-width: 100%;
    }
}

.profile {
    display: inline-block;
    width: 25%;
    text-align: center;
}

.names {
    color: black;
}


#papers {
    text-align: center; /* Center aligns the title and content within the section */
}

.papers-list {
    list-style-type: disc; /* Adds bullets to the list */
    padding: 0; /* Removes default padding */
    display: inline-block; /* Allows the list to size according to its content */
    text-align: left; /* Aligns the text within the list to the left */
}

.papers-list li {
    margin: 10px 0; /* Adds a little space between list items */
}

.papers-list a {
    text-decoration: underline; /* Underlines the links */
}

.papers-title {
    text-align: center;
    margin-top: -5px;
    margin-bottom: -5px;
}
.news-title {
    text-align: left;
    margin-top: -5px;
    margin-bottom: -5px;
}

.paper {
    margin-bottom: 1em;
    text-align: left;
    font-weight: normal;
}

.paper h2 {
    font-size: 1em;
    font-weight: normal;
    margin: 0;
    text-align: left;
}

.paper h2 a {
    text-decoration: none;
    color: #222222;
}

.paper h2 a:hover {
    text-decoration: underline;
}
